.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img {
    width: 40px;
    border-radius: 50%;
}

.main-container {
    max-width: 900px;
    margin: 0 auto;
}

.main-container .greet {
    margin: 50px 0;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.main .cards .card {
    height: 200px;
    padding: 15px;
    background-color: #f0f4f5;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p {
    color: #585858;
    font-size: 18px;
}

.main .card:hover {
    background-color: #dfe4ea;
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    margin: auto;
}
.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img {
    width: 24px;
    cursor: pointer;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    padding: 8px;
    color: #585858;
}

.search-box div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bottom-info {
    font-size: 13px;
    color: gray;
    text-align: center;
    margin: 15px auto;
}

.result {
    padding: 0 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar {
    display: none;
}

.result-title {
    margin: 40px 0;
    display: flex;
    align-items: center;
    gap: 20px
}

.result img {
    width: 40px;
    border-radius: 50%;
}

.result-data {
    display: flex;
    align-items: start;
    gap: 20px;
    margin-top: 15px
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loader hr {
    border: none;
    height: 4px;
    background-color:#f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9edfff);
    background-size: 800px 50px;
    height: 20px;
    border-radius: 4px;
    animation: loader 3s infinite linear;
}   

@keyframes loader {
    0% {
        background-position: -800px 0px;
    } 100% {
        background-position: 800px 0px;
    }
}